/node_modules
/public/hot
/public/storage
/public/media
/public/fontawesome5.12.1
/public/datatables
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
